<div class="calculator">
        <div class="calculator__display">
            <input type="text" class="calculator__display-input" [value]="result" placeholder="0" disabled>
        </div>
        <div class="calculator__keys">
          <button class="key" (click)="onButtonClick(item)" *ngFor="let item of [1,2,3 ,4 , 5,6,7,8,9,0,'.']">{{item}}</button>
            
          <button class="key key--equals" (click)="onButtonEqual()">=</button>
          <button class="key key--operator" (click)="onButtonClick(item)" *ngFor="let item of ['+','-','*','/']">{{item}}</button>
          <button class="key key--clear" (click)="onButtonClear()">C</button>

        </div>
    </div>